header{
    text-align:center
}
#main{
   margin-left:3%;
   display: inline-block;
}

.card{
    height:400px;
    width:20%;
    background-color:#a67d85;
    float:left;
    /* display: inline-block; */
    margin:2%;
    overflow: scroll;
    text-align: center;
   
}
.imgDiv{
    height:200px;
}
.textDiv{
    overflow: scroll;
    height:200px;
}
.card img{
    height:200px;
    width:100%
}
.blue{
    background-color:skyblue
}

#pink{
    background-color:#beaf9f
}
.manali{
    background-color:#589bc6
}

/*Footer*/
footer{
    text-align: center
}

.flex-container {
    display: flex;
    flex-direction: row;
  }